---
import { getCollection } from 'astro:content';
import App from '../App';
import '../styles/global.css';

const lessons = await getCollection('lessons');
const slides = await getCollection('slides');
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Modern Markdown Viewer</title>
		{/* Add Inter from Google Fonts for premium typography */}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>
	<body class="bg-slate-950">
		<App client:load lessons={lessons} slides={slides} />
	</body>
</html>
